<h1>Spak Backend Challenge Implementation</h1>
<h3>By: Snehal Maheshwari</h3>
<br />
<h1>Readme</h1>
<h3>Routes</h3>
<h4>"/api/user/signup" -- Route to Register</h4>
<h4>"/api/user/signin" -- Route to Login</h4>
<h4>"/api/user/signout" -- Route to Logout -- Protected Route - Authorized Access Only</h4>
<h4>
	"/api/users" -- Route to view all users in the system - Protected Route - Authorized Access Only
</h4>
<h4>
	"/api/user/:search" -- Route to view particular user in the system using either their name or
	their contact - to search with contact, pass only digits Protected Route - Authorized Access Only
</h4>
